<div class="stage">
    <ng-container *ngIf="transformer$ | async as transformer">
        <mat-form-field appearance="fill" class="bg">
            <mat-label>Name</mat-label>
            <input [(ngModel)]="name" matInput>
        </mat-form-field>
        <mat-form-field appearance="fill" class="bg">
            <mat-label>Status</mat-label>
            <mat-select [(ngModel)]="status">
                <mat-option value="OK">OK</mat-option>
                <mat-option value="INJURED">INJURED</mat-option>
                <mat-option value="MIA">MIA</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="bg">
            <mat-label>Vehicle Group</mat-label>
            <mat-select [ngModel]="selectedGroup" (ngModelChange)="changeTypes($event)">
                <mat-option value="Air">Air</mat-option>
                <mat-option value="Land">Land</mat-option>
                <mat-option value="Sea">Sea</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="bg">
            <mat-label>Vehicle Type</mat-label>
            <mat-select [ngModel]="selectedType" (ngModelChange)="changeModels($event)">
                <mat-option *ngFor="let type of types" [value]="type">{{type}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="bg">
            <mat-label>Vehicle Model</mat-label>
            <mat-select [(ngModel)]="selectedModel">
                <mat-option *ngFor="let model of models" [value]="model">{{model}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="bg">
            <mat-label>Gear</mat-label>
            <input [(ngModel)]="gear" matInput>
        </mat-form-field>
    
        <button mat-flat-button (click)="deleteTransformer(transformer)" color="warn">Delete transformer</button>
        <button mat-flat-button class="green" (click)="updateTransformer(transformer)">Save changes</button>
        <button mat-flat-button [routerLink]="['']">Home</button>  
    </ng-container>
</div>




    <!-- <table border="1px">
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Vehicle Group</td>
            <td>Vehicle Type</td>
            <td>Model</td>
            <td>Status</td>
            <td>Gear</td>
        </tr>

        <tr>
            <td>{{transformer.id}}</td>
            <td>{{transformer.name}}</td>
            <td>{{transformer.vehicleGroup}}</td>
            <td>{{transformer.vehicleType}}</td>
            <td>{{transformer.vehicleModel}}</td>
            <td>{{transformer.status}}</td>
            <td>{{transformer.gear}}</td>
        </tr>
    </table> -->

<router-outlet></router-outlet>
